body {
	background-color: #F5D9DF;
	font-family: 'Nunito', sans-serif;
	--candy-red: #EA1C2C;
	--blurb-text-color: #F498B8;
	overflow-x: hidden;
}

.blurb h2 {
	color: var(--candy-red);
	font-weight: 100;
	font-size: 2rem;
}

.blurb p {
	color: var(--blurb-text-color);
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 50px;
}

/* NAVBAR */
#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: var(--candy-red);
}

#mainNavbar .navbar-brand {
	color: var(--candy-red);
	font-size: 1.5rem;
}
#headingGroup {
	text-transform: uppercase;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 3.5rem;
}

#headingGroup span {
	color: var(--candy-red);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
	/* body {
		background-color: orange;
	} */
	#headingGroup h1 {
		font-size: 3rem;
	}
}
